/* Past game stats page */
.past-game-stats-container {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    align-self: flex-start;
    transform: translateY(0);
    position: relative;
}

.past-game-stats-container-adjusted {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    align-self: flex-start;
    transform: translateY(50px);
}

/* Customization for form/input */
.games-search-container {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, 700%);
}

/* Form will move up when submit button is clicked */
.games-search-container-top {
    opacity: 1;
	animation-name: fadeInOpacity;
	animation-iteration-count: 1;
	animation-timing-function: ease-in;
	animation-duration: 1s;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -800%);
}


h1 {
    margin-top: 30px;
    margin-bottom: 30px;
}

/* Scoreboard customization */
.scoreboard-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr); 
    gap: 1rem; 
    margin-bottom: 100px;
}

/* Stats */
.scoreboard-stats {
    padding: 15px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 1rem;
}

.scoreboard-stats:hover {
    background-color: whitesmoke;
    cursor: pointer;
}


.home-team-stats, .visitor-team-stats {
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.game-status {
    text-align: center;
    font-size: 12px;
    padding-top: 2px;
    font-weight: 500;
    background-color: #c7c7c7;
    cursor: pointer;
    border-radius: 5px 5px 0 0;
}

.games-found {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 100px;
    margin-bottom: 100px;
    height: 500px;
    /* overflow: auto; */
}

/* Fade in animation when scoreboard appears */
.fade-in {
	opacity: 1;
	animation-name: fadeInOpacity;
	animation-iteration-count: 1;
	animation-timing-function: ease-in;
	animation-duration: 1s;
}

@keyframes fadeInOpacity {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}

@media only screen and (max-width: 1100px) {
    .games-search-container {
        transform: translate(-50%, 400%);
    }
}


@media only screen and (max-width: 800px) {
    .games-search-container {
        transform: translate(-50%, 300%);
    }
}



@media only screen and (max-width: 600px) {
    .games-search-container {
        transform: translate(-50%, 250%);
    }
}

@media only screen and (max-width: 500px) {
    .games-search-container {
        transform: translate(-50%, 200%);
    }
}

@media only screen and (max-width: 400px) {
    .games-search-container{
        transform: translate(-50%, 100%);
    }
}

@media only screen and (max-width: 300px) {
    .games-search-container {
        transform: translate(-50%, 70%);
    }

    .scoreboard-stats {
        font-size: 10px;
    }

   h1 {
        font-size: 20px;
    }
}