.player-stats {
    height: 110vh;
    position: relative;
    display:flex;
    justify-content: center;
    align-items: flex-start;
}

.player-profile {
    position: absolute;
    align-items: center;
    transform: translate(0%, 50%);
}

.stats-summary {
    position: absolute;
    align-items: center;
    transform: translate(0%, 240%);
}

.last-ten-games {
    position: absolute;
    align-items: center;
    transform: translate(0%, 100%);
}

table {
    margin-top: 10px;
    border: 1px solid #dddddd;
}

th {
  
    background-color: #f2f2f2;
    border: 1px solid #dddddd;
    padding: 0px 6px;
    text-align: center;
}

td {
    text-align: center; 
    border: 1px solid #dddddd;
}

.season-average tbody tr td:nth-child(9) {
    border-right: 2px solid blue;
}

.season-average thead tr th:nth-child(9) {
    border-right: 2px solid blue;
}
