.player-stats {
    height: 110vh;
    position: relative;
    display:flex;
    justify-content: center;
    left: 50%;
    top: 50%;
    transform: translateX(-50%);
    width: 100vw;
}


.player-profile {
    
}

.stats-summary {
   
    
   
}

.last-ten-games {
   
   
    margin-top: 30px;
}

table {
    margin-top: 10px;
    border: 1px solid #dddddd;
}

th {
  
    background-color: #f2f2f2;
    border: 1px solid #dddddd;
    padding: 0px 6px;
    text-align: center;
}

td {
    text-align: center; 
    border: 1px solid #dddddd;
}

.season-average tbody tr td:nth-child(9) {
    border-right: 2px solid blue;
}

.season-average thead tr th:nth-child(9) {
    border-right: 2px solid blue;
}
