.player-stats-page{
    transform: translateY(0);
}

.player-stats-page.adjusted{
    transform: translateY(50px);
}


/* Customization for form/input */
.player-search-div {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, 700%);
    transition: transform 5s;
    margin-bottom: 200px;   
}

/* Transition for form/input */
.player-search-div-enter {
    transform: translateX(-50%);
}

.player-search-div-enter-active {
    transform: translate(-50%, 200%);
    transition: transform 500ms ease-in-out;
}

.player-search-div-enter-done {
    transform: translate(-50%, 200%);
    position: absolute;
}

/* Customization for search results*/
.search-results {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, 30%);
    max-width: 100%;
}

.search-title {
    text-align: center;
}

.player-stats-div {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translateX(-50%);
    width: 100%;
    margin-top: -50px;
}



/*Transition for search results*/
.player-enter {
    opacity: 0;
}

.player-enter-active {
    opacity: 1;
    transition: opacity 500ms ease-in;
}

.player-exit {
    opacity: 1;
  }

.player-exit-active {
    opacity: 0;
    transition: opacity 500ms ease-in;
}

.scrollable-container {
    height: 350px;
    overflow:auto;
    overflow-x:hidden;
    width: 700px;
    border: 1px solid #272727;
    margin-bottom: 150px;
}

.player-box {
    border: 1px solid #ccc;
    padding: 20px;
    white-space: nowrap;
    overflow: hidden;
    transition: background-color 0.3s ease;
}

.col-6 {
    margin: 0;
    padding: 0;
}
  
.player-box:hover {
    background-color: #f0f0f0;
    cursor: pointer;
}


.search-results-enter {
    opacity: 0;
}
  
.search-results-enter-active {
    opacity: 1;
    transition: opacity 500ms ease-in-out;
}

.search-results-exit {
    opacity: 1;
}

.search-results-exit-active {
    opacity: 0;
    transition: opacity 500ms ease-in-out;
}

@media only screen and (max-width: 1200px) {
    .player-search-div {
        transform: translate(-50%, 500%);
    }
}

@media only screen and (max-width: 1000px) {
 
    .player-search-form {
        transform: translateY(100%);
    }

    .search-results {
        transform: translate(-50%, 40%);      
    }
    
    .player-search-div {
        transform: translate(-50%, 350%);
    }
}

@media only screen and (max-width: 800px) {
    .player-search-form {     
        transform: translateY(100%);
    }

    .scrollable-container {
        height: 250px;
        overflow:auto;
        overflow-x: hidden;
        width: 500px;
    }

    .player-search-div {
        transform: translate(-50%, 250%);
    }
}



@media only screen and (max-width: 600px) {
    .player-search-form {     
        transform: translateY(100%);
    }

       
    .scrollable-container {
        height: 250px;
        overflow:auto;
        width: 400px;
    }

    .player-search-div {
        transform: translate(-50%, 50%);
        width: 250px;
    }
}

@media only screen and (max-width: 400px) {
    .player-search-form {     
        transform: translateY(100%);
    }

    .scrollable-container {
        height: 250px;
        overflow:auto;
        width: 300px;
    }

    .player-search-div {
        transform: translate(-50%, 0%);
    }
}

@media only screen and (max-width: 300px) {
    .player-search-form {     
        transform: translateY(100%);
    }

    .scrollable-container {
        height: 250px;
        overflow:auto;
        width: 200px;
    }

    .player-search-div {
        transform: translate(-50%, -30%);
        width: 200px;
    }
}
